name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / Rails ${{ matrix.rails_version }}
    strategy:
      matrix:
        ruby: ['3.4', '3.3', '3.2', '3.1', '3.0', '2.7']
        rails_version: ['8.1', '8.0', '7.2', '7.1', '7.0', '6.1', ''] # '': with out rails (actionview)
        exclude:
          # rails 8.1: support ruby 3.2+
          - ruby: '3.1'
            rails_version: '8.1'
          - ruby: '3.0'
            rails_version: '8.1'
          - ruby: '2.7'
            rails_version: '8.1'
          # rails 8.0: support ruby 3.2+
          - ruby: '3.1'
            rails_version: '8.0'
          - ruby: '3.0'
            rails_version: '8.0'
          - ruby: '2.7'
            rails_version: '8.0'
          # rails 7.2: support ruby 3.1+
          - ruby: '3.0'
            rails_version: '7.2'
          - ruby: '2.7'
            rails_version: '7.2'
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
      CI: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
